html {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}

p.pageTitle {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 32px;
    line-height: 32px;
    font-variant: small-caps;
    font-weight: 500;
}

h4.card-titlev2 {
    font-weight: normal;
    text-align: left;
    font-size: 15px;
    line-height: 16px;
    display: flex;
}

.card-atalho {
    border: 2px solid #D0D0D0;
    box-shadow: 0px 1px 4px #E5E9F2;
    border-radius: 10px;
}

.card-atalho .card-body {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.nopadding {
    padding: 0px;
}

.card-atalho a {
    color: rgb(33, 37, 41);
}

.card.card-stats.card-atalho:hover {
    border: 2px solid #545454;
    box-shadow: 0px 4px 20px #c3c3c3;
}

p.card-category.atalho-title {
    font-size: 16px;color: rgb(33, 37, 41);
}

p.card-category.atalho-title {
    font-size: 16px;color: rgb(33, 37, 41);
}

.card.card-stats.card-rapid {
    border-radius: 10pt;
}

h4.card-title.card-title-atalho {
    font-size: 32px;
    font-weight: 700;
}

.sidebar .show li.nav-item {
    background-color: #7f8592;
    font-weight: bold;
    font-size: 13pt;
}

.sidebar li.nav-item {
    font-size: 13pt;
}

.sidebar .show li.nav-item:first-child {
    margin-top: 3px;
}

.sidebar li.nav-item:first-child {
    margin-top: 3px;
}

.svg-icon {
    height: 48px;
}

.card.card-stats.card-rapid {
    margin-left: auto;
    margin-right: auto;
    min-height: 180px;
    min-width: 180px;
    width: 60%;
    border: 2px solid #D0D0D0;
    box-shadow: 0px 1px 4px #E5E9F2;
}

.card.card-stats.card-rapid:hover {
    border: 2px solid #545454;
    box-shadow: 0px 4px 20px #c3c3c3;
}

.control-label.inline-label {
    padding-top: 10px !important;
}

.has-success .form-control:focus {
    border-top-color: #E3E3E3;
    border-left-color: #E3E3E3;
    border-right-color: #E3E3E3;
}

.form-control:focus {
    border-top-color: #E3E3E3;
    border-left-color: #E3E3E3;
    border-right-color: #E3E3E3;
    border-bottom-color: #9B9B9B;
}

button.btn.btn-default.btn-wd.btn-back.pull-left.disabled {
    border-width: 0px;
}

div#content {
    background: #eff2f78c;
    /* #e8e8e8b8 */
    min-height: 93vh;
}

.control-label b {
    font-weight: 600;
    font-size: 14px;
    color: #7b7b7b;
}

.latlon-label b {
    font-weight: 600;
    font-size: 13px;
    color: #7b7b7b;
}

.form-group.obr {
    background: #efefef;
    border-color: #ece6e6;
}

.form-check.form-check-radio {
    margin-top: 10px;
}

.card .card-body .control-label {
    color: #66696f;
    padding-top: 12px;
    font-size: 14px;
    font-weight: 500;
}

img#pageIcon {
    max-width: 50px;
    max-height: 50px;
}

.form-check.form-check-radio {
    display: inline-block;
}

.form-check-radio input[type="radio"]:checked+.form-check-sign::after {
    padding-top: 0px !important;
    /* margin-top: -26px !important; */
    color: #485f8e;
}

.input-group-prepend {
    background-color: #E3E3E3;
    color: #9c9c9c;
    padding: 8px 12px;
    height: 40px;
    box-shadow: none;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    transition: all 300ms linear;
    border-bottom-color: #E3E3E3;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.input-group-append {
    background-color: #E3E3E3;
    color: #9c9c9c;
    padding: 8px 12px;
    height: 40px;
    box-shadow: none;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    transition: all 300ms linear;
    border-bottom-color: #E3E3E3;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.form-control:focus + .input-group-append {
    background: #dcdcdc;
    border-bottom-color: #9B9B9B;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

span.input-group-text {
    font-size: 0.8rem;
    text-transform: uppercase;
}

/* Colocar input errado da cor vermelha */
.form-group.has-error {
    background: #ffe4e4;
    border-width: 4px;
    border-style: solid;
    border-color: #f5c7c7;
}

.has-success .has-error .form-control {
    color: #565656;
}

.has-success:focus .has-error .form-control {
    color: #87CB16;
}

.has-success .has-error .form-control:focus {
    border-color: #87CB16;
}

/* Disable text dragging */
*, *::after, *::before {
	-webkit-user-select: auto;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

/* File-input */
.file-input {
    margin-left: 10px;
    font-family: "Roboto Condensed", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}

.alert span {
    font-size: 1em;
    font-weight: normal;
}

.alert-warning span a {
    color: white;
    font-weight: 700;
    font-size: 1em;
}

.form-group .col-10 {
    margin-top: auto;
    margin-bottom: auto;
}

.form-group .col-9 {
    margin-top: auto;
    margin-bottom: auto;
}

.form-group .col-8 {
    margin-top: auto;
    margin-bottom: auto;
}

label.form-check-label.from-check-inline {
    font-size: 14px;
    font-weight: 450;
}


label.form-check-label {
    font-size: 14px;
    font-weight: 450;
}

.hint {
    font-size: 12px;
    color: #aba5a5;
    font-style: italic;
}


.card.data-tables {
    box-shadow: none;
    border-radius: 20px;
    border-color: #adadad;
    padding-top: 10px;
    padding-bottom: 10px;
}

select.custom-select.custom-select-sm.form-control.form-control-sm {
    height: 35px;
}

.card .table tbody td {
    font-weight: 350;
    font-size: 1em;
}

.detalheToolBar {
    text-align: center;
}

.btnExcel {
    background: #43AA8B;
    border: none;
}

.btnExcel:hover {
    background: #457b6b;
}

.btnSalvar, .btnSalvar:focus {
    background: #43AA8B;
    border: none;
    width: 200px;
    font-weight: 500;
    font-size: 14px;
}

.btnSalvar:hover, .btnSalvar:active {
    background: #457b6b;
}

@media screen and (max-width: 767px) {
    .btnSalvar {
        width: 100%;
    }
    
    .btnAcoesBaixo button {
        width: 100%;
    }

    .card-footer button {
        width: 100%
    }
}

.btnCancelar, .btnCancelar:focus {
    background: #ED2E3B;
    border: none;
    font-weight: 500;
    font-size: 14px;
    width: 200px;
}

.btnCancelar:hover, .btnCancelar:active {
    background: #b5555c;
}

.detalheToolBar button {
    margin: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btnMoficar, .btnMoficar:focus {
    background: #FAB24F;
    border: none;
}

.btnApagar, .btnApagar:focus {
    background: #ED2E3B;
    border: none;
}

.detalheToolBar button span, .card .card-footer .btn {
    font-weight: 500;
    font-size: 14px;
}

.btnMoficar:hover, .btnMoficar:active {
    background: #ea951f;
}

.btnApagar:hover, .btnApagar:active {
    background: #b5555c;
}

.btnImprimir, .btnImprimir:focus {
    background: #25A4EC;
    border: none;
}

.btnImprimir:hover, .btnImprimir:active {
    background: #277aa9;
}

div#swal2-content {
    font-size: 14px;
}
.dual-list {
    height: 200px;
}

.dual-list option {
    font-size: 14px;
}

.tituloSecao span {
    font-size: 16px;
}

.tituloSecao {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #889aad;
    margin-top: 0px;
}

ul.singletab {
    margin-bottom: 0px !important;
}

h3.listaSelect {
    font-size: 16px;
    font-weight: 400;
}

.ul-dica {
    color: #538ca9;
}

.ul-dica li {
    font-size: 12px;
    text-transform: uppercase;
}

.ul-dica .fa-li {
    font-size: 12px;
    color: #ecac2e;
    margin: -2px;
}

.ul-dica i {
    font-size: 12px;
}

.badge-total {
    vertical-align: text-top;
}

select option {
    font-size: 14px;
}

.optlabel {
    display: -webkit-box;
    font-size: 14px;
    font-weight: bold;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    font-variant: all-petite-caps;
    color: #9e9e9e;
    width: 64px;
    height: 42px;
    padding-left: 7px;
}

.obrlabel {
    display: -webkit-box;
    font-size: 14px;
    font-weight: bold;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    font-variant: all-petite-caps;
    color: #9e9e9e;
}


.form-group.has-error .error {
    margin-top: 20px;
    padding-right: 20px;
    font-weight: 500;
    text-align: center;
    margin-left: auto;
}

.logoimg img {
    width: 150px;
}

.logoimg {
    padding: 20px;
    padding-bottom: 0px;
    text-align: center;
}

.filterlabel {
    padding-left: 20px;
}

.activeLink {
    background: #ecb24a !important;
}

.activeLink span {
    font-weight: 600;
}

.pageDoubleTitle {
    margin-right: 20px;
}

.placa {
    text-transform:uppercase;
}

.totalText {
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: #8a99a7;
    border-bottom-width: 4px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 1.3em;
    font-family: "Roboto Condensed";
}


.bootstrap-select button {
    background-color: #FFFFFF;
    border: 2px solid #E3E3E3;
    color: #565656;
    line-height: 1em;
    height: 42px;
}


.bootstrap-select span {
    font-size: 14px;
}

span.nc-icon.nc-check-2.check-mark {
    font-size: 16px;
    font-weight: bold;
}

.tituloCampo {
    color: #66696f;
    padding-top: 14px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}


img.ctrlIcon {
    max-width: 18px;
    max-height: 18px;
}

.toolExample {
    position: inherit;
}

.row.toolItem {
    vertical-align: middle;
}

.dica span {
    font-size: 12px;
    font-family: "Roboto Condensed"
}

.dica {
    margin-top: 2px;
    margin-left: 4px;
}

.tab-3-fix a.nav-link {
    font-size: 13px !important;
    font-family: "Roboto Condensed";
    padding-top: 15px !important;
    min-height: 20px !important;
}

.card-wizard .nav-tabs .tab-3-fix .nav-link {
    height: 80px;
}

div#datatables_length {
    float: left;
}

.datatable-relatorio div#datatables_length {
    float: none;
    text-align: center;
    margin: 20px;
}

.datatable-relatorio ul.pagination {
    float: right;
}

div#datatables_filter {
    margin-bottom: 10px;
}

.filterDiv {
    padding-bottom: 10px;
    margin-top: 20px;
    border-bottom-style: solid;
    border-bottom-color: #e49824;
    margin-bottom: 50px;
}

#menuRelatorio .list-group-item.active {
    background: #1bafce;
    border: #1bafce;
    font-weight: 600;
}

#pbar {
    height: 100%;
    padding: 2px;
    font-size: 1em;
}

img#censoIcon {
    max-height: 60px;
}


.badge-censo {
    color: white;
}

.btn-back {
    margin-left: 20px;
}

.btnApagar {
    height: 38px;
}

.passo {
    background: #ff8e19;
    text-align: center;
    padding: 20px;
}

.passo span {
    font-weight: bold;
}


.passoDesc p, .passoDesc a {
    font-size: 0.85em;
}


.passoDesc h5 {
    font-weight: bold;
    font-size: 1em;
}

li.media {
    margin-top: 20px;
}


* {
    scrollbar-color: #ffbc31ed #6b6b6b;
    scrollbar-width: thin;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    background: #ffbc31ed;
}
 
::-webkit-scrollbar-track {
   background: #6b6b6b;
}
 
::-webkit-scrollbar-thumb {
    background: #ffaa00ed;
}


ul#list-menus-navs {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
}

ul#list-menus-navs li{
    width: 25% !important;
}

ul#list-menus-navs li a span {
    font-size: 13px !important;
}

ul#list-menus-navs li a i {
    font-size: 34px !important;
    height: auto !important;
}

ul#list-menus-navs li a {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 20px !important;
}

select.swal2-select {
    font-size: 0.8em;
    width: 100%;
}

.swal2-html-container ul {
    text-align: left;
    list-style: none;
    text-transform: uppercase;
}

.swal2-html-container ul li:before {
  content: '❌ ';
}

.form-control {
    overflow-x: auto;
}

::-webkit-scrollbar{
    max-height: 6px;
}

::-webkit-scrollbar-corner { 
    background: rgba(0,0,0,0.5); 
}

/* Fixes mobile */
@media screen and (max-width: 767px) {
    .btn-back {
        margin-left: 0px;
    }

    .optlabel, .obrlabel {
        -webkit-transform: none;
    }

}

/* Graficos */
#grafico text, #grafico span {
    font-family: 'Roboto Condensed' !important;
}